*{
	padding: 0;
	margin:0;
}

a:focus, .button:focus, .button.alt:focus, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus {
    outline: none;
}

*:active, *:hover, *:focus {
    outline: 0;
    outline-offset: 0;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	transition: 0.3s;
	cursor: pointer;
	font-size: 16px;
}

a:hover {
	opacity: 0.8;
}

body {
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	color: #222733;
	font-size: 16px ;
	background-color: #F5F5F6;
	position: relative;
}

.main {
	background-color: #F5F5F6;
}

.container {
	max-width: 1140px;
	padding: 0 20px;
	margin: 0 auto;
}

.button {
	font-family: "Segoe UI", sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.3s;
}

.button:hover {
	opacity: 0.8;
}

.button_blue {
	background: linear-gradient(180deg, #4971D0 0%, #245ADB 100%);
	box-shadow: 0px 4px 4px rgba(57, 52, 52, 0.25);
	border-radius: 4px;
}

.button_gray {
	background: rgba(255, 255, 255, 0.25);
	border-radius: 16px;
}

.window {
	padding: 32px 44px;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	background-color: #fff;
}


.input {
	padding: 20px;
	background-color: #fff;	
	border-radius: 8px;
	border:none;
	outline: none;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	display: flex;
	align-items: center;
	letter-spacing: 0.5px;
	color: #818C99;
	box-sizing: border-box;
}


.input::placeholder {
	color: #818C99;
}

.input:focus {
	border: 1px solid #3F8AE0;
}


.input_error {
	border:1px solid red !important;
	background-color: #FAEBEB;
}

.form-window {
	max-width: 560px;
	width: 100%;
	padding: 0 78px;
	padding-bottom: 32px;
	box-sizing: border-box;
	position: relative;
}

.form-link-logo {
	width: 82px;
	position: absolute;
	left: 50%;
	margin-left: -41px;
	top: -80px;
}

.form-title {
	padding-top: 48px;
	margin-bottom: 20px;
	font-family: "Gilroy", sans-serif;
	font-weight: bold;
	font-size: 28px;
	line-height: 36px;
	text-align: center;
	color: #414854;
}

.form-subtitle {
	margin-bottom: 32px;
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #414854
}

.form-link-entry {
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;
	color:#4971D0;
}

.form-input {
	width: 100%;
	margin-bottom: 26px;
	border: 1px solid #DEE1E4;
}

.form-button {
	width: 100%;
	padding: 20px 0;
	margin-bottom: 32px;
	font-family: "Gilroy", sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

/* TABLE */

.table {
	margin-top: 24px;
}

.table-content {
	height: 121px;
	border-top: 1px solid rgba(36, 48, 54, 0.09);
	border-bottom: 1px solid rgba(36, 48, 54, 0.09);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.table-date {
	font-weight: normal;
	font-size: 13px;
	line-height: 17px;
	color: #777C87;
}

.table-info	{
	margin-top: 3px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.table-email {
	font-weight: normal;
	font-size: 17px;
	line-height: 23px;
	color: #222733;
}

.tabel-status {
	padding: 0 6px;
	margin-left: 10px;
	font-weight: normal;
	font-size: 9px;
	line-height: 18px;
	border-radius: 9px;
}

.tabel-status_error {
	background-color: rgba(237, 75, 65, 0.16);
	color: #ED4B41;
}

.tabel-status_accept {
	background-color: #D4F296;
	color: #5E8C00;
}

.table-describe {
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #717D83;
}

.table-right {
	font-weight: normal;
	font-size: 23px;
	line-height: 31px;
	text-align: right;
	color: #5E8C00;
}

.office__add {
	padding: 12px 20px;
	margin: 0 auto;
	margin-top: 50px;
	font-weight: 500;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	color: #464C59;
	background-color: #EEEEEF;
}

/* TABLE END ===========================*/

/* ADD =================================*/
.add {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -100;
	transition: 0.4s;
	transition-delay: 0.2s;
}

.add_active {
	z-index: 100;
	transition: 0s;
}

.add__bg {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	transition: 0.4s;
	opacity: 0;
	transition-delay: 0.1s;
}

.add__bg_active {
	opacity: 1;
}

.add__window {
	max-width: 968px;
	width: 100%;
	height: 100%;
	margin-right: 0;
	margin-left: auto;
	position: relative;
	display: flex;
	flex-direction: column;	
	background: #fff;
	box-shadow: -4px 0px 30px rgba(34, 39, 51, 0.25);
	transition: 0.4s;
	transform:translateX(1000px);
}

.add__window_active {
	transform:translateX(0px);
}

.add__top {
	height: 64px;
	padding-left: 52px;
	margin-bottom: 32px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	font-family: "Gilroy", sans-serif;
	font-weight: bold;
	font-size: 26px;
	line-height: 31px;
	box-shadow: 0px 0px 12px rgba(36, 48, 54, 0.08);
}

.add__form {
	flex:2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.add__content {
	padding-left: 52px;
	padding-right: 60px;
	box-sizing: border-box;
}

.add__subtitle {
	margin-bottom: 22px;
	padding-bottom: 11px;
	position: relative;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	border-bottom: 2px solid #E5E7E8;
}

.add__subtitle::before {
	content:"";
	width: 140px;
	height: 2px;
	position: absolute;
	bottom: -2px;
	left: 0;
	background-color: #4971D0;
}

.add__row {
	margin: 8px 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.add__label {
	min-width: 81px;
	margin-right: 139px;
	display: inline-block;
}

.add__input {
	width: 313px;
	height: 44px;
	padding-left: 20px;
	font-size: 20px;
	color:rgba(0, 0, 0, 0.6);
	border: 1px solid #CBCFD1;
	box-sizing: border-box;
}

.add__radios {
	display: flex;
	align-items: center;
}

.add__radio {
	display: none;
}

.add__label-radio {
	padding: 0 15px;
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	font-size: 15px;
	line-height: 40px;
	border: 1px solid #CBCFD1;
	border-radius: 0px 3px 3px 0px;
	cursor:pointer;
	transition: 0.3s;
}

.add__radio:checked+.add__label-radio {
	border: 1px solid #4971D0;
	color: #4971D0;
	background: #F2F6FF;
}

.add__bottom {
	height: 65px;
	padding-left: 52px;
	display: flex;
	align-items: center;
	box-shadow: 0px 3px 20px rgba(34, 39, 51, 0.2);
}

.add__button {
	padding: 12px 32px 14px 32px;
}

.add__button-accept {
	font-family: "Gilroy", sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	background: linear-gradient(180deg, #4971D0 0%, #245ADB 100%);
	border-radius: 4px;
}

.add__button-cancel {
	font-family: "Roboto", sans-serif;
	font-size: 11px;
	line-height: 12px;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	color: #222733;
	background: #fff;
}
/* ADD END==============================*/

/* DELETE ==============================*/
.delete {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	transform: translateY(100px);
	z-index: 3;
}

.delete_active {
	transform: translateY(0px);
}

.delete__window {
	max-width: 1280px;
	width: 100%;
	height: 60px;
	padding: 0 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	background-color: #fff;
	box-shadow: 0px 8px 32px rgba(34, 39, 51, 0.24);
}

.delete__info {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 18px
	color: #777C87;
}

.delete__count {
	color: #222733;
}

.delete__button {
	width: 200px;
	height: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #EEEEEF;
	border-radius: 4px;
	font-family: "Gilroy", sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	border:none;
	cursor: pointer;
}

/* DELETE END===========================*/


/* HEADER-LK ======================================*/

.header-lk {
	background-color: #fff;
	position: relative;
}

.header-lk__top {
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__link-page {
	font-size: 13px;
	line-height: 14px;
}

.header-lk__line {
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	top: 38px;
	background: #E6E7E9;
}

.header-lk__bottom {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-lk__nav {
	margin: 0 -16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-lk__elem {
	margin: 0 16px;
}

.header-lk__link {
	font-size: 16px;
	line-height: 20px;
	color: #222733;
}

.header-lk__link_active {
	color:#4971D0;
}

.header-lk__link_no-active {
	opacity: 0.5;
}

.header-lk__link_no-active:hover {
	opacity: 0.5;
}

.header-lk__login {
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	font-size: 16px;
	line-height: 21px;
}

.header-lk__add {
	width: 300px;
	max-height: 0;
	position: absolute;
	right: 0;
	top: 38px;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	transition: 0.2s;
	overflow:hidden;
	z-index: 2;
}

.header-lk__add_active {
	max-height: 150px;
	padding: 16px;
	padding-bottom: 11px;
}

.header-lk__name {
	font-size: 14px;
	line-height: 20px;
	color: #121212;
}

.header-lk__email {
	margin-top: 6px;
	margin-bottom: 26px;
	font-size: 12px;
	line-height: 18px;
	color: #565656
}

.header-lk__exit {
	padding-left: 30px;
	position: relative;
	font-size: 14px;
	line-height: 20px;
	color: #121212;
	border:none;
	background-color: transparent;
	cursor:pointer;
}

.header-lk__exit:hover {
	opacity: 0.6;
}

.header-lk__exit::before {
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0px;
	top: 0;
	background: url("../img/header/exit.svg")
	no-repeat center;
}

/* HEADER-LK END ==================================*/

/* OFFICE ==============================*/


.office__bottom {
	padding-top: 32px;
}

.office__nav {
	display: flex;
	align-items: center;
}

.office__elem {
	margin-right: 24px;
}

.office__link {
	padding-bottom: 12px;
	font-weight: normal;
	font-size: 17px;
	line-height: 23px;
	transition:0.2s;
	outline: none;
}

.office__link_active {
	color: #4971D0;
	border-bottom: 4px solid #4971D0;
}

.office__add {
	padding: 12px 20px;
	margin: 0 auto;
	margin-top: 50px;
	font-weight: 500;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	color: #464C59;
	background-color: #EEEEEF;
}

.office__preloader {
	width: 100px;
	position: fixed;
	left: 50%;
	margin-left: -50px;
	top: 40vh;
	display: none;
}

.office__preloader_active {
	display: block;
}

/* OFFICE END ==========================*/

/* AUTHOR ADMIN ========================*/

.author__content_admin {
	height: 624px;
}

/* AUTHOR ADMIN END=====================*/

/* MODAL ===============================*/

.modal {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -15;
	transition: 0.2s;
	transition-delay: 0.4s;
}

.modal_active {
	z-index: 110;
	transition-delay: 0s;
}

.modal__bg {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: #000;
	opacity: 0;
	transition: 0.5s;
	z-index: -1;
}

.modal__bg_active {
	opacity: 0.4;
}

.modal__window {
	width: 330px;
	height: 230px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	left: 50%;
	margin-left: -165px;
	top: 50%;
	margin-top: -115px;
	background-color: #fff;
	border-radius: 10px;
	box-sizing: border-box;
	transition: 0.4s;
	visibility: hidden;
	opacity: 0;
	transform: translateY(-200px);
}

.modal__window_active {
	visibility: visible;
	opacity: 1;
	transform: translateY(0px);
}

.modal__title {
	font-size: 28px;
	text-align: center;
}

.modal__text {
	font-size: 18px;
	line-height: 26px;
	text-align: center;
}

.modal__button {
	height: 40px;
	font-size: 18px;
	background-color: #3464D6;
	border-radius: 8px;
}

/* MODAL END ===========================*/

/* PROMPT ======================================*/

.prompt {
	max-width: 351px;
	width: 100%;
	padding: 0px;
	height: 0;
	position: fixed;
	background-color: #FAEBEB;
	font-family: "SF Pro Text", sans-serif;
	color: #E64646;
	bottom: 45px;
	right: 43px;
	border-radius: 10px;
	transition: 0.4s;
	z-index: -20;
}

.prompt_consult {
	height: 0;
	padding: 0;
}

.prompt_active {
	height: auto;
	padding: 12px;
	z-index: 120;
}

.prompt__title {
	margin-bottom: 2px;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: -0.32px;
}

.prompt__desribe {
	font-size: 13px;
	line-height: 16px;
	letter-spacing: -0.078px;
}

/* PROMPT END===================================*/

/* AUTHOR ======================================*/

.author {
	height: 1000px;
	position: relative;
	background-color: #F5F5F6;
}

.author__content {
	height: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.author__error {
	width: 300px;
	color:red;
	position: absolute;
	top: 70px;
	left: 50%; margin-left: -150px;
	text-align: center;
}



.author__name {
	margin-bottom: 8px;
}


.author__link {
	height: 44px;
}

/* AUTHOR END===================================*/

/* REGISTR =====================================*/

.registr__agree {
	margin-top: 10px;
	display: none;
}

.registr__check {
	position: relative;
	left: 28px;
	font-family: "Segoe UI", sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	transition: 0.3s;
}

.registr__check::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  position: absolute;
  top: 3px;
  left: -28px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  transition:0.4s;
}

.registr__link-contract {
	margin-left: 2px;
	font-family: "Segoe UI", sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color:#4971D0;
}

.registr__agree:checked+label::before {
	background: 
	url("../img/registr/ok.svg") no-repeat center,#4971D0;
	background-position-y: 2px; 
}

.registr__check_error {
	color:red;
}

/* REGISTR END==================================*/


/* LUCK ================================*/

.client-luck {
	width: 360px;
	height: 230px;
	max-height: 0;
	padding: 0 16px;
	position: fixed;
	top: 30vh;
	left: 50vw;margin-left: -180px;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 18px;
	transition: 0.4s;
	transform:translateY(-900px);
	overflow: hidden;
}

.client-luck_active {
	max-height: 230px;
	padding-bottom: 16px;
	transform:translate(0px);
	z-index: 3;
}

.client-luck__close {
	width: 24px;
	height: 24px;
	position: absolute;
	right: 16px;
	top: 16px;
	background: url("../img/close.svg") no-repeat
	center;
	transition: 0.3s;
	cursor: pointer;
}

.client-luck__close:hover {
	opacity: 0.8;
}

.client-luck__icon {
	margin: 0 auto;
	margin-top: 33px;
	margin-bottom: 17px;
	display: block;
}

.client-luck__title {
	margin-bottom: 8px;
	font-family: "SF Pro Display", sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.38px;
}

.client-luck__text {
	margin-bottom: 32px;
	font-family: "SF Pro Text", sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	letter-spacing: -0.154px;
	color: #6D7885;
}

.client-luck__button {
	width: 100%;
	height: 44px;
	background-color: #4971D0;
	color:#fff;
}

/* LUCK END=============================*/

/* NAV ===============================*/

.top {
	padding-top: 40px;
}

.nav {
	width: 100%;
	height: 46px;
	background-color: #fff;
	border-radius: 16px;
}

.nav__form {
	height: 100%;
	display: flex;
	align-items: center;
}

.nav__list {
	display: flex;
	align-items: center;
}

.nav__link {
	padding: 6px 12px;
	margin: 0 8px;
	font-family: "SF Pro Text", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -0.154px;
	color: #6D7885;
	border-radius: 8px;
}

.nav__link_active {
	color: #4971D0;
	background: rgba(73, 113, 208, 0.15);
}

/* NAV ===============================*/

/* INFO ==============================*/

.info {
	padding-bottom: 100px;
}

.info__content {
	width: 100%;
	height: 159px;
	padding: 23px 32px;
	margin: 16px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;	
	background-color: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(34, 39, 51, 0.05);
	border-radius: 8px;
	box-sizing: border-box;
}

.info__date {
	margin-bottom: 12px;
	font-size: 16px;
	line-height: 21px;
}

.info__salary {
	font-size: 59px;
	line-height: 78px;
}

.info__right {
	margin: 0 -25px;
	display: flex;
	align-items: flex-start;
}

.info__block {
	max-width: 150px;
	min-width: 150px;
	margin: 0 25px;	
}

.info__block_irregular {
	position: relative;
}

.info__block_irregular::before,
.info__block_irregular::after {
	content: "";
	width: 1px;
	height: 57px;
	position: absolute;
	top: 0;
	background: rgba(36, 48, 54, 0.09);
}

.info__block_irregular::before {
	left: -50px;
}

.info__block_irregular::after {
	right: 0;
}

.info__name {
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 18px;
	color: #777C87;
}

.info__index {
	font-size: 24px;
	line-height: 31px;
}

.info__block {
	margin: 0 20px;
}


/* INFO END===========================*/

/* CLIENTS ===========================*/
/*
.clients {
	min-height: 838px;
}

.clients__content {
	padding-top:42px;
	padding-left:32px;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
	border-radius: 16px;
}

.clients__title {
	margin-bottom:50px;
	font-family: "Segoe UI", sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 24px;
	color: #222733;
	position: relative;
}

.client__addition {
	width: 218px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 326px;
	top: -6px;
	background-color: #4971D0;
	font-family: "SF Pro Text", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 22px;
	letter-spacing: -0.408px;
	color: #FFFFFF;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: 0.3s;
}

.client__addition:hover {
	opacity: 0.8;
}

.client__plus {
	margin-right: 11px;
}

.clients__cell {
	height:60px;
}

.clients__cell_head {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #222733;
	text-align: left;
}

.clients__cell_state {
	width: 237px;
}

.clients__cell-wrapper {
	width: 90px;
	height: 30px;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color: #4BB34B;
	border-radius: 8px;
	color:#fff;
}

.clients__cell-wrapper_green {
	background-color: #4BB34B;
}

.clients__cell-wrapper_red {
	width: 110px;
	background-color: #C81458;
}

.clients__cell_email {
	width: 164px;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #0088CC;
}

.clients__cell_phone {
	width: 236px;
}

.clients__cell_name {
	width: 227px;
}
*/
/* CLIENTS END========================*/

/* SEARCH ============================*/
.search {
	min-height: 
}

.search__top {
	margin-top: 32px;
	margin-bottom: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search__title {
	font-size: 26px;
	line-height: 31px;
}

.search__button {
	width: 123px;
	height: 38px;
	color:#fff;
}

.search__all {
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #777C87
}

.search__content {
	min-height: 452px;
	background-color: #fff;
	border-radius: 4px;
}

.search__table {
	width: 100%;
	padding-top: 24px;
	padding-bottom: 14px;
}

.search__table thead tr {
	border-bottom: none;
}

.search__table tbody tr:last-child {
	border-bottom: none;
}

.search__table-result {
	max-height: 40vh;
	display: block;
	overflow-y: scroll;
}
	
.search__form {
	height: 44px;
	padding: 0 16px;
	margin-top: 27px;
	margin-bottom: 18px;
	position: relative;
}

.search__input {
	width: 100%;
	height: 100%;
	padding-left: 40px;
	border: 1px solid #CBCFD1;
	box-sizing: border-box;
	border-radius: 4px;
}	

.search__find {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	left: 28px;
	background: url("../img/search/find.svg")
	no-repeat center;
	border:none;
}

.search__checkbox {
	display: none;
}

.search__label {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search__label::before {
	content: "";
	width: 18px;
	height: 18px;
	box-sizing: border-box;
	border: 2px solid #CBCDD1;
	border-radius: 2px;
	overflow: hidden;
}

.search__checkbox:checked+.search__label::before {
	background: url("../img/search/check.svg")
	no-repeat center;
	border-color: #fff;
}

.search__line {
	padding-top: 14px;
	padding-bottom: 18px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid 
	rgba(36, 48, 54, 0.09);
}

.search__head-cell {
	text-align: left;
	font-size: 10px;
	line-height: 13px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #777C87;
}

.search__cell {
	font-size: 14px;
	line-height: 18px;
}

.search__cell-center {
	text-align: center;
}

.search__cell_checkbox {
	max-width: 62px;
	width: 100%;
}

.search__cell_email {
	max-width: 235px;
	width: 100%;
}

.search__cell_phone {
	max-width: 245px;
	width: 100%;
}

.search__cell_tariff {
	max-width: 262px;
	width: 100%;
}

.search__cell_status {
	max-width: 154px;
	width: 100%;
}

.search__link {
	padding-right: 20px;
	font-size: 14px;
	line-height: 18px;
	color: #4971D0;
}

/* SEARCH END=========================*/

/* FOOTER ===================*/
.footer-mini {
	width: 100%;
	margin-bottom: 20px;
	position: absolute;
	left: 0;
	bottom: 0;
}

.footer-mini__content {
	display: flex;
	align-items: center;
}

.footer-mini__links {
	width: 337px;
	margin-right: 141px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-mini__link {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #818C99
}


/* FOOTER END================*/







































@media screen and (max-width: 1100px) {
	.header__top {
		flex-direction: column;
		align-items: flex-start;
	}

	.header__nav {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 870px) {
	.header-lk__bottom {
		margin-top: 15px;
		align-items: flex-start;
		flex-direction: column;
	}
}

@media screen and (max-width: 900px) {
	.info__block {
		min-width: 120px;
		max-width: 120px;
	}

	.info__block_irregular::before {
		left: -33px;
	}

	.info__block_irregular::after {
		right: -11px;
	}
}


@media screen and (max-width: 800px) {
	.header {
		height: 0;
	}

	.header-lk {
		width: 100%;
		margin-bottom: 30px;
		background-color: #fff;
	}

	.header-lk__container {
		padding: 0 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header__top,
	.header-lk__nav {
		width: 100%;
		background-color: #ccc;
		align-items: center;
		z-index: 10;
		transition: 0.5s;
		transform: translateY(-800px);
	}

	.header__link-page {
		display: none;
	}

	.header-lk__nav {
		padding: 20px 0;
		margin: 0;
		position: absolute;
		right: 0;
		flex-direction: column;
	}

	.header__top_active,
	.header-lk__nav_active {
		transform: translateY(-15px);
	}

	.header-lk__elem {
		margin: 10px 0;
	}

	.header-lk__login {
		width: 150px;
		right: 50px;
		top: 40px;
		position: absolute;
	}

	.header__nav {
		margin-bottom: 0px;
	}

	.header-lk__line {
		display: none;
	}

	.header-lk__add {
		width: 230px;
	}

	.burger {
		width: 40px;
		height: 40px;
		position: fixed;
		right: 25px;
		top: 25px;
		background-color: #fff;
		display: block;
		border-radius: 50%;
		z-index: 13;
	}

	.burger_lk {
		top: 15px;
	}

	.burger_active .burger__line {
		transform: rotate(360deg);
		background-color: #fff;
	}

	.burger_active .burger__line::before {
		transform: rotate(45deg);
	}

	.burger_active .burger__line::after {
		transform: rotate(-45deg);
	}

	.burger__line,
	.burger__line::before,
	.burger__line::after {
		width: 26px;
		height: 4px;
		background-color: #000;
		position: absolute;
		left: 50%;
		margin-left: -13px;
		top: 50%;
		margin-top: -2px;
		transition: 0.4s;
	} 

	.burger__line::before,
	.burger__line::after {
		content: "";
	}

	.burger__line::before {
		transform: translateY(9px);
	}

	.burger__line::after {
		transform: translateY(-9px);
	}

	.header__buttons {
		flex-direction: column;
	}

	.header__button {
		margin-bottom: 10px;
	}

	.header__list {
		flex-direction: column;
	}

	.header__elem {
		margin: 0;
		margin-bottom: 5px;
	}

	.info__content {
		height: auto;
		flex-direction: column;
	}

	.info__date {
		text-align: center;
	}

	.info__salary {
		text-align: center;
	}

	.info__right {
		margin: 0;
		flex-direction: column;
	}

	.info__block {
		width: 100%;
		margin: 0;
		margin-bottom: 10px;
	}

	.info__block_irregular::before,
	.info__block_irregular::after {
		display: none;
	}

	.info__name {
		text-align: center;
	}

	.info__index {
		text-align: center;
	}

	.office__nav {
		flex-direction: column;
		justify-content: space-between;
	}

	.office__elem {
		margin: 0;
		margin-bottom: 20px;
		padding-bottom: 6px;
	}

	.search__line {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.search__line_head{
		display: none;
	}

	.search__cell {
		max-width: none;
		padding: 5px 0;
		text-align: center;
	}

	.search__link {
		padding-right: 0;
	}

	.footer-mini__content {
		flex-direction: column;
	}

	.footer-mini__links {
		width: auto;
		margin: 0;
		margin-bottom: 10px;
		flex-direction: column;
	}
}

/* 800px end */

@media screen and (max-width: 546px) {
	.add__form {
		zoom: 0.9;
	}

	.add__content {
		padding: 0;
		padding-left: 20px;
	}

	.add__label {
		margin-right: 3px;
	}

	.add__input  {
		width: 224px;
	}

	.client__addition {
		font-size: 10px;
	}
}

@media screen and (max-width: 426px) {
	.burger {
		
	}
}